.netrwhist
tmp
nerdtree_plugin
backup
after
autoload
doc
plugin
ruby
snippets
syntax
syntax_checkers
ftdetect
ftplugin
colors
indent
spell
compiler
.VimballRecord
Powerline_default_default_fancy.cache
